@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'), url(https://fonts.gstatic.com/s/barlowcondensed/v1/HTx3L3I-JCGChYJ8VI-L6OO_au7B6xHT2g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(https://fonts.gstatic.com/s/sourceserifpro/v5/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-oA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Barlow Condensed", sans-serif;
  background-color: white;
}

* {
    padding: 0;
    margin: 0 auto 20px;
}

body > header {
    font-family: Verdana;
    color: #999;
    font-size: 13px;
    line-height: 21px;
    max-width: 1240px;
    padding: 10px 20px 0;
    margin-bottom: 0;
}

main, footer, body, html {
    margin-bottom: 0;
}

main > header {
    padding-top: 27vh;
    text-align: center;
}

h1 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #00cccc;
    padding: 0 20px;
    max-width: 640px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h3 {
    color: black;
    font-size: 30px;
    line-height: 1.333;
    margin-bottom: 40px;
    text-transform: uppercase;
}

p {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    line-height: 36px;
    color: white;
    max-width: 600px;
}

a {
    color: inherit;
    text-decoration: none;
}

br {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.logo {
    width: 175px;
    height: auto;
}

footer > div {
    max-width: 600px;
    width: 90%;
}

/* Slides Styling by Tony*/

section {
    margin-bottom: 0;
}

#section1 {
    background-color: #333;
}

.cd-section > div {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 690px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
}

.cd-section:last-of-type {
    border-bottom: none;
}

.graph {
    width: 100%;
    height: auto;
}

#section16 {
    background-color: #333;
}

p small, label, .copyright {
    font-size: 13px;
    line-height: 21px;
    display: inline-block;
}

p small {
    margin-bottom: 0;
}

.copyright {
    color: #999;
    max-width: 600px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 80px;
    margin-bottom: 0;
    font-family: Verdana, sans-serif;
}

.copyright a {
    color: #999;
}

.copyright a:hover {
    color: #999;
    text-decoration: none;
}

.form-wrapper {
    display: flex;
    padding-top: 80px;
}

footer {
    background-color: #333;
}

footer .logo-wrapper {
    width: 50%;
    min-width: 175px;
    padding-top: 15px;

}

footer > div {
    margin-bottom: 80px;
}


/* Form */

.form-wrapper {
    display: flex;
}

.form-wrapper input {
    height: 60px;
    background-color: black;
    border: none;
    padding: 10px;
    color: white;
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    line-height: 36px;
}

.form-wrapper .input {
    width: 50%;
}

.form-wrapper .output {
    display: flex;
    align-items: center;
}

button[type="submit"] {
    height: 60px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 0;
    padding: 20px;
    background-color: black;
}

button svg {
    width: 15px;
    height: 15px;
    margin: 0;
}

.form-wrapper form {
    position: relative;
    padding-top: 120px;
}

.form-wrapper .value, .form-wrapper label {
    color: white;
    display: block;
}

.form-wrapper label {
    margin-bottom: 0;
}

.form-wrapper .input label {
    margin-bottom: 5px;
}

input[type='number'] {
    -moz-appearance:textfield;
    padding-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.output > div {
    margin: 0;
}

.value span {
    display: block;
    color: #00cccc;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.value:last-child {
    margin-bottom: 0;
}




/* Imported from Demo Code, with some adjustments */

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-section {
  min-height: 100vh;
  position: relative;
  padding: 2em 0;
  display: flex;
  align-items: center;
  padding: 60px 30px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 0;
}

/* No Touch devices */
.cd-nav-trigger {
  display: none;
}

 #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
 #cd-vertical-nav li {
  text-align: right;
  padding: 0;
  margin: 0;
  height: 24px;
}
 #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  margin: 0;
  height: 24px;
}
 #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}
 #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  padding: 0;
  margin: 0;
}
 #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
 #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}
 #cd-vertical-nav a:hover .cd-dot {
  background-color: #00cccc;
}
 #cd-vertical-nav a.is-selected .cd-dot {
  background-color: #00cccc;
}
 #cd-vertical-nav .cd-dot {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  top: 10px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ccc;
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
 #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  font-family: Verdana;
  color: #00cccc;
  font-size: 13px;
  line-height: 21px;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */
 
input[type='number'] {
max-width: 90%;
}
input[type='number'] {
    max-width: 90%;
}
